<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gira - Gestão Integrada de Recebíveis do Agronegócio</title>
    <meta name="description" content="O GIRA é um sistema ultra moderno de gestão dos recebíveis no Agronegócio. Ele funciona por meio de um aplicativo Web e no seu celular e utiliza um novo tipo de CPR. A CPR GIRA  tem, além do compromisso de entrega de grãos, um verdadeiro compromisso de produtividade, no qual vistorias presenciais dão total credibilidade à informação durante a fase vegetativa o que possibilita uma resposta do time jurídico em momento mais adequando para garantir a recuperação do crédito.">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <!-- Custom CSS -->
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    <header>
        <nav class="white" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="/" class="brand-logo">
                    {% load staticfiles %}
                    <img src="{% static "img/novo-logo.png" %}" 
                        alt="Logo empresa GIRA, Gestão Integrada de Recebiveis do Agronegócio"
                        style="width: 105px"/>
                </a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a href="#">Sobre</a>
                    </li>
                    <li>
                        <a href="#">Serviços</a>
                    </li>
                    <li>
                        <a href="#">Preços</a>
                    </li>
                    <li>
                        <a href="#">Contato</a>
                    </li>
                    <li class="active">
                        <a href="#">Entrar</a>
                    </li>
                </ul>
        
                <ul id="nav-mobile" class="sidenav">
                    <li class="active">
                        <a href="#">ENTRAR</a>
                    </li>
                </ul>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
        </nav>
    </header>
    {% block content %}

    {% endblock %}
    <footer class="page-footer teal">
        <div class="container">
            <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Company Bio</h5>
                <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
    
    
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Settings</h5>
                <ul>
                <li><a class="white-text" href="#!">Link 1</a></li>
                <li><a class="white-text" href="#!">Link 2</a></li>
                <li><a class="white-text" href="#!">Link 3</a></li>
                <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                <li><a class="white-text" href="#!">Link 1</a></li>
                <li><a class="white-text" href="#!">Link 2</a></li>
                <li><a class="white-text" href="#!">Link 3</a></li>
                <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
            Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
            </div>
        </div>
    </footer>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script>
        M.AutoInit();
    </script>
</body>
</html>