{% extends 'base.html' %} 

{% block content %}
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h4 class="header col s12 light" style="margin-top: 10%">
                    <br>
                    Conheça um novo modelo de CPR que está revolucionando o agronegócio
                </h4>
            </div>
            <div class="row center">
                <a href="https://giraapp.com.br/app2/index.html#/login/index/gira1.x" 
                    id="download-button" 
                    class="btn-large waves-effect waves-light teal lighten-1"
                    target="_blank">
                    Entre em contato
                </a>
            </div>
            <br>
            <br>
        </div>
    </div>
    <div class="parallax">
        {% load staticfiles%}
        <img src="{% static "img/maos-graos.jpg" %}" alt="Unsplashed background img 1">
    </div>
</div>


<div class="container">
    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4 animate-left">
                <div class="icon-block">
                    <h2 class="center brown-text">
                        <i class="large material-icons">flash_on</i>
                    </h2>
                    <h5 class="center">TCRs mais rápidas e completas</h5>

                    <p class="light">
                        Com nosso sistema você cria as TCRs mais confiáveis do mercado em tempo recorde. 
                    </p>
                </div>
            </div>

            <div class="col s12 m4 animate-up">
                <div class="icon-block">
                    <h2 class="center brown-text">
                        <i class="large material-icons">group</i>
                    </h2>
                    <h5 class="center">Fácil de Usar</h5>

                    <p class="light">
                        Nosso sistema tem como foco o cliente, proporcionando assim uma usabilidade facilitada e um design elegante.
                    </p>
                </div>
            </div>

            <div class="col s12 m4 animate-right">
                <div class="icon-block">
                    <h2 class="center brown-text">
                        <i class="large material-icons">settings</i>
                    </h2>
                    <h5 class="center">Gerenciamento de Equipes</h5>

                    <p class="light">
                        Aqui você consegue gerenciar suas filiais, saber tudo que está acontecendo em tempo real, além de ser notificado quando algo fugir do padrão.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h4 class="header col s12 light">
                    <i class="small material-icons" style="transform: scaleX(-1)">format_quote</i>
                    Com o aplicativo Gira você poderá fazer vistorias georeferenciadas garantindo o monitoramento do compromisso a indicadores agronômicos de produtividade.
                    <i class="small material-icons">format_quote</i>
                </h4>
            </div>
        </div>
    </div>
    <div class="parallax">
        {% load staticfiles %}
        <img src="{% static "img/campo.jpg" %}" alt="Unsplashed background img 2">
    </div>
</div>

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 center">
                <h3>
                    <i class="mdi-content-send brown-text"></i>
                </h3>
                <h4>Um pouco sobre nós</h4>
                <p class="left-align light">
                    O GIRA (Gestão Integrada de Recebíveis do Agronegócio) surgiu na cidade de Uberlândia/MG e rapidamente se consolidou no mercado. Hoje é referência na área, contando com clientes espalhados por todo o Brasil.
                </p>
            </div>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot ">
        <div class="container">
            <div class="row center">
                <h4 class="header col s12 light">
                    <i class="small material-icons" style="transform: scaleX(-1)">format_quote</i>
                    O GIRA é um sistema inovador de gestão dos recebíveis com aplicativo Web que permite o monitoramento online de suas operações de crédito do agronegócio.
                    <i class="small material-icons">format_quote</i>
                </h4>
            </div>
        </div>
    </div>
    <div class="parallax">
        {% load staticfiles %}
        <img src="{% static "img/escritorio.jpg" %}" alt="Unsplashed background img 3">
    </div>
</div>

{% endblock %}